body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    row-gap: 1px;
    column-gap: 1px;
    height: 300px;
    width: 300px;
}

.square{
    background-color: gray;
    height: auto;
    width: auto;
}

.square.black{
    background-color: black;
}

.square.red{
    background-color: red;
}

.square.blue{
    background-color: blue;
}

.square.green{
    background-color: green;
}

.square.yellow{
    background-color: yellow;
}

.title{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
}

.title .resetBtn{
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border-style: solid;
}

.title .resetBtn:hover{
    background-color: rgb(150,150,150);
    border-color: rgb(150,150,150);
}

.colorButtons {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0px;
}

.colorButtons .blkBtn, .redBtn, .bluBtn, .grnBtn, .ylwBtn{
    border-radius: 0px;
    border-style: none;
    padding: 0px;
    margin: 5px;
    width: 15px;
    height: 15px;
}

.colorButtons :hover{
    flex: none;
    margin: 3px;
    width: 19px;
    height: 19px;
}

.redBtn{
    background-color: red;
}

.bluBtn{
    background-color: blue;
}
.grnBtn{
    background-color: green;
}
.ylwBtn{
    background-color: yellow;
}

.blkBtn{
    background-color: black;
}

